.container {
  margin: 24px auto;
  padding: 18px 18px;
  width: 500px;
  border-style: solid;
  border-radius: 2%;
  border-color: blue;
}

.city-search {
  margin-bottom: 18px;
}

.city {
  font-size: 30px;
  color: green;
  font-weight: bold;
  border-color: blue;
}
.city-search {
  margin-bottom: 18px;
}
